@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400&family=Open+Sans:ital,wght@0,300;0,500;0,700;1,300&family=Titillium+Web:wght@200;300;400;600;700&family=Yellowtail&display=swap');
*{
    font-family: "Titillium Web";
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
#servicios{
    background: linear-gradient(rgba(0,0,0,.8), rgba(0, 0, 0, .5)), url("../img/servicios.jpg");
    background-size: cover;
    background-position: center center;
    color: #fff;
}
#inicio{
    background: linear-gradient(rgba(0,0,0,.8), rgba(0, 0, 0, .5)), url("../img/portada.jpg");
    background-size: cover;
    background-position: center center;
    color: #fff;
}
.inicio .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 0 10px;
}
.inicio .contenido-seccion header{
    padding: 30px;
}

.inicio .contenido-seccion header nav{
    position: fixed;
    margin-left: 60px;
    background-color: #940253;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    z-index: 99;
}
.inicio .contenido-seccion header nav a{
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
    font-weight: bold;
}
.inicio .contenido-seccion header .logo{
    font-weight: bold;
    font-size: 2.5rem;
    font-family: "yellowtail";
    text-shadow: 0 0 35px #fff;
}
.inicio .contenido-seccion header .logo .color{
    color: #940253;
    font-family: "yellowtail";
}
.inicio .contenido-seccion header .nav:hover{
    box-shadow: 0 0 35px #fff;
    transition: .3s;
}
.inicio .contenido-seccion .info{
    padding-bottom: 130px;
}
.inicio .contenido-seccion .info h1{
    font-size: 3rem;
    letter-spacing: 5px;
}
.inicio .contenido-seccion .info h2{
    padding: 10px;
    font-weight: normal;
    font-size: 20px;
    margin-top: -10px;
    letter-spacing: 2px;
}
.inicio .contenido-seccion .info .redes{
    margin: 20px 0;
}
.inicio .contenido-seccion .info .redes a{
    display: inline-block;
    text-decoration: none;
    background-color: #000;
    color: #940253;
    border: 1px solid #940253;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    transition: .3s;
}
.inicio .contenido-seccion .info .redes a:hover{
    color: #fff;
    background-color: #940253;
    box-shadow: 0 0 20px #fff;
}
.inicio .contenido-seccion .foto{
    position: relative;
}
.inicio .contenido-seccion .foto img{
    max-width: 200px;
    border-radius: 50%;
    border: 5px solid #940253;
    position: absolute;
    left: 50%;
    top: -100px;
    transform: translateX(-50%);
}
.perfil{
    background-color: #e6e6e6;
    padding: 140px 0 100px 0;
    text-align: center;
}
.perfil .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0;
    
    height: auto;
    box-shadow: 0px 0px 10px #940253;
    border-radius: 10px;
    padding: 50px 0px;
}
.perfil .contenido-seccion h2{
    text-transform: uppercase;
    font-size: 30px;
}
.perfil .contenido-seccion p{
    max-width: 700px;
    margin: auto;
    color: #666;
    font-size: 20px;
}
.servicios .titulo-seccion{
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 140px;
    text-align: center;
    font-weight: bold;
    color: #940253;
    letter-spacing: 10px;
    box-shadow: 0px 5px 10px rgba(148, 2, 82, 0.3);
}
.bloque-servicios{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    height: auto;
}
.servicios .bloque{
    margin: 30px;
    box-shadow: 0px 0px 10px #940253;
    border-radius: 10px;
    padding: 50px;
}
.servicios .bloque h2{
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 20px;
}
.servicios .bloque p{
    color: #666;
    font-size: 20px;
}
.inicio .contenido-seccion header nav a:hover{
    border-radius: 10px;
    box-shadow: 0 0 20px #fff;
    transition: .3s;
}
.active{
    border-radius: 10px;
    box-shadow: 0 0 20px #fff;
}