@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400&family=Open+Sans:ital,wght@0,300;0,500;0,700;1,300&family=Titillium+Web:wght@200;300;400;600;700&family=Yellowtail&display=swap');

* {
    font-family: "Titillium Web";
    padding: 0;
}

html {
    scroll-behavior: smooth;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


.inicio-body {
    margin: 0;
    min-height: 100vh;
}


#inicio {
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("../img/Atencion\ psicologica\ 3.jpg");
    background-color: #002f43;
    background-size: cover;
    background-position: center center;
    color: #fff;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin-top: 54px;
    margin-bottom: 110px;

}

.inicio .contenido-seccion {
    position: relative;
    height: 300px;
    max-width: 100%;
    margin: auto;
    text-align: center;
}

/* .perfil {
    margin: 0 20px 50px 20px;
} */


header {
    padding: 0.1px;
}

header nav {
    display: flex;
    justify-content: right;
    text-align: center;
    position: fixed;
    padding: 10px 0;
    background-color: #e3747a;
    max-width: 1200px;
    width: 100%;
    z-index: 1;
}

header nav a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

header nav .redes-nav {
    margin-right: 50px;
}

header nav .redes-nav a {
    margin-left: 20px;


}

header .nav a:hover {
    box-shadow: 0 0 35px #fff;
    transition: .3s;
}

/* .inicio .contenido-seccion .info {
    padding-bottom: 95px;

} */

.inicio .contenido-seccion .info h1 {
    color: #fff;
    font-size: 3rem;
    margin: 0px 0;
    letter-spacing: 5px;
}

.inicio .contenido-seccion .info h2 {
    color: #fff;
    padding: 0px;
    font-weight: normal;
    font-size: 20px;
    margin-top: -10px;
    letter-spacing: 2px;
}

.inicio .contenido-seccion .info .redes {
    margin: 0px 0px 0 0;

}

.inicio .contenido-seccion .info .redes a {
    display: inline-block;
    text-decoration: none;
    background-color: #fff;
    color: #e3747a;
    border: 1px solid #e3747a;
    border-radius: 50%;
    width: 40px;
    font-size: 1.3rem;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    transition: .3s;
}



.inicio .contenido-seccion .info .redes a:hover {
    color: #fff;
    background-color: #e3747a;
    box-shadow: 0 0 20px #fff;
    transform: scale(1.3);
}

.inicio .contenido-seccion .foto {
    position: absolute;
    /* background-color: #d3215d; */
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

.inicio .contenido-seccion .foto img {
    position: absolute;
    max-width: 200px;
    border-radius: 50%;
    border: 5px solid #e3747a;
    /* left: 50%; */
    top: 20px;
    transform: translateX(-49%);
}

.inicio .contenido-seccion .foto:hover {
    transform: scale(1.1);
    /* transform: translateX(-50%); */
}



/* *******************************************
servicios
******************************************* */
.servicios-body {
    margin: 0px;
}


.lado-color img {
    width: 70%;
    margin-top: 50px;
}

.lado-color {
    width: 100%;
    height: 100%;
    /* background-color: #1b1b318e; */
    /* background: linear-gradient(rgba(165, 189, 193, .8), rgba(165, 189, 193, .8)), url("../img/Consultoria\ 5.jpg"); */
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("../img/nota\ rosa.jpg");
    background-position: right top;
    background-size: 130%;
}




.servicios-pre {
    height: 90vh;
    max-height: 95vh;
    margin-top: 54px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}


.mas-info {
    margin: 50px 50px 0 50px;
    display: flex;
    justify-content: flex-end;
}

.mas-info a {
    text-decoration: none;
    color: #fff;
    background-color: #d3215d;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 800;
}

.servicios-pre-1 p {
    margin: 0 50px;
}

.servicios-pre-1 h1 {
    font-size: 2rem;
}

.servicios-pre-1 h1::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #d3215d;
    transform: translate(-80px);
}

.acceso-link {
    display: block;
    height: 1px;
}

.servicios-bloque {
    display: flex;
    /* min-height: 90vh; */
    flex-direction: row;
    align-items: center;
}

.servicios-texto {
    text-align: left;
    width: 50%;
    margin-left: 60px;
    color: #606060;
    font-size: 18px;
    font-weight: 600;
}

.servicios-titulo h2 {
    margin: 60px 0 0 0;
    font-size: 40px;
    color: #606060;
}

 .servicios-lista {
    margin-top: 200px;
}



/* .servicios-foto {
    max-width: 100%;
} */









/* .card {
    position: static;
} */



/* .perfil {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
} */

/* *********************************************
PERFIL
********************************************* */


.perfil-body {
    margin: 0;
}

img {
    max-width: 100%;
    object-fit: cover;
    background-blend-mode: darken;
}

.perfil-lista {
    max-width: 1000px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 4fr;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.perfil-header-card .png {
    /* filter: invert(23%) sepia(85%) saturate(5950%) hue-rotate(330deg) brightness(89%) contrast(85%); */
    filter: invert(62%) sepia(5%) saturate(5596%) hue-rotate(308deg) brightness(92%) contrast(92%);
    width: 30%;
    /* background-color: #d3215d; */
}

.perfil-descripcion{
    /* background-color: #a5bdc1; */
    border: 1px solid #e3747a;
    border-radius: 10px;
    padding: 0 20px;
    height: 100%;
}

.perfil-tarjeta{
    text-align: center;
}

/* .perfil-categoria-card{
    background-color: #d3215d;
} */

.perfil-categoria-card span{
    font-weight: 600;
}

/* .perfil-tarjeta {
    height: 100%;
} */

/* .perfil-descripcion {
    width: 100%;
    height: 100%;
    background: #f8f8f8;
    border-radius: 20px;
    box-shadow: 0 0 12px #d7d7d7;
    transition: .3s;
} */

/* .perfil-descripcion p {
    margin: 20px;
} */


/* .perfil-imagen {
    text-align: center;
} */

/* .perfil-imagen img {
    margin-top: 10px;
} */

/* .perfil-card {

    max-width: 200px;
    width: 100%;
    height: 100%;
    background: #f8f8f8;
    border-radius: 20px;
    box-shadow: 0 0 12px #d7d7d7;

    transition: 300ms;
} */

/* .perfil-face {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
} */

/* .perfil-card .perfil-face {
    width: 100%;
    height: 100%;
    min-width: 200px;
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    transition: 0.5s;
} */






/* .perfil-categoria-card {
    margin-top: 1rem;
    text-align: center;

} */

/* .perfil-categoria-card span {
    background: #0cbccc;
    color: #fff;
    padding: .2rem .5rem;
    border-radius: 8px;
} */


/* .perfil-card:hover,
.perfil-descripcion:hover {

    transform: scale(1.02);
    background-color: #d7d7d788;
} */


/* .inicio .contenido-seccion header nav a:hover {
    border-radius: 10px;
    box-shadow: 0 0 20px #fff;
    transition: .3s;
} */





/* .foto-perfil {
    width: 150px;
    border-radius: 50%;
    border: 5px solid #0b4683;
} */

/* .card-wrap {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
} */




/* .card {
    position: relative;
    max-width: 350px;
    width: 100%;
    min-width: 250px;
    height: 400px;
    background: #f8f8f8;
    margin: 3rem;
    box-shadow: 0 0 12px #d7d7d7;
    text-align: left;
    transition: 300ms;
} */

/* .card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    transition: 0.5s;
} */

/* .card .front {
    transform: perspective(600px) rotateY(0deg);
} */

/* .card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    color: #f3f3f3;
} */

/* .card:hover .front {
    transform: perspective(600px) rotateY(180deg);
} */

/* .card:hover .back {
    transform: perspective(600px) rotateY(360deg);
} */


/* .header-card img {
    border-radius: 8px 8px 0 0;
    max-height: 200px;
    height: 200px;
    width: 100%;

} */

/* .imagen-frente {
    position: absolute;
    width: 100%;
    height: 200px;
    top: 0;
    right: 0;
    background: #1f3d4704;
    backdrop-filter: blur(5px);
} */

/* .imagen h3 {
    position: absolute;
    font-size: 1.5rem;
    color: #f3f3f3;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
} */

/* .imagen::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 200px;

    background-color: rgba(0, 0, 0, 0.7);
} */

/* .categoria-card {
    margin-top: 1rem;

}

.categoria-card span {
    background: #0cbccc;
    color: #fff;
    padding: .2rem .5rem;
    border-radius: 8px;
}

.card footer {
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.card footer button {
    background-color: #07a081;
    margin-top: 10px;
    padding: 7px 40px;
    border-radius: 20px;
    border: none;

} */

/* .boton {
    display: flex;
    width: 100%;
    justify-content: end;
}

.card footer button a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
} */


/* .card:hover {
    transform: scale(1.1);
} */

/*
******************************************
CONTACTO
******************************************
*/

.contacto-body{
    min-height: 90vh;
}


.formulario-content {

    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* margin-bottom: 50px; */
}

.formulario {
    margin: 50px 0px 0px 0px;
    padding: 20px 30PX;
    background-color: #e3747a;
    border-radius: 25px;
    flex-basis: 30%;
}

.formulario h2 {
    color: #f4f6f9;
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

label {
    color: #f4f6f9;
    /* margin-bottom: 10px; */
    /* font-size: 20px; */
}

input,
textarea {
    padding: 5px 14px;
    background-color: #a5bdc1;
    border: 0;
    /* font-size: 18px; */
    color: #f4f6f9;
    margin-bottom: 10px;
    border-radius: 10px;
}

:focus {
    outline: 1px solid #d3215d;
}

.btn {
    background-color: #d3215d;
    width: 150px;
    align-self: flex-end;
    cursor: pointer;
}

.btn:hover {
    background-color: #219bf9;
}


.active {
    border-radius: 10px;
    box-shadow: 0 0 20px #fff;
}







.footer{
    width: 100%;
    max-width: 1200px;
    height: 50px;
    background-color: #e3747a;
    position: absolute;
    bottom: 0px;

}

.footer-perfil{
    width: 100%;
    max-width: 1200px;
    background-color: #e3747a;
    height: 60px;
    margin-top: 20px;
}

/* contacto{
    margin-top: 50px;
} */

@media(max-width:900px) {
    form {
        width: 100%;
    }

    .formulario {
        flex-basis: 100%;
    }

    header nav .redes-nav a {
        margin-left: 0px;
    }
    .servicios-pre{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "grid-1"
        "grid-2"
        "grid-4"
        "grid-3";
    }
    .grid-1{
        grid-area: grid-1;
    }
    .grid-2{
        grid-area: grid-2;
    }
    .grid-3{
        grid-area: grid-3;
    }
    .grid-4{
        grid-area: grid-4;
    }
    .servicios-bloque{
        flex-direction: column;
        margin: 0 10px;
    }
    .servicios-lista{
        margin-top: 700px;
    }
    .mas-info{
        margin-bottom: 50px;
    }
    .lado-color{
        min-height: 30vh;
    }
    .servicios-texto{
        margin: 1px;
        width: 100%;

    }
    .perfil-lista{
        grid-template-columns: 1fr;
        margin: 100px 10px;
        gap: 5px;
    }

    .perfil-header-card .png{
        margin-top: 40px;
    }



}
