@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400&family=Open+Sans:ital,wght@0,300;0,500;0,700;1,300&family=Titillium+Web:wght@200;300;400;600;700&family=Yellowtail&display=swap');
*{
    font-family: "Titillium Web";
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

#inicio{
    background: linear-gradient(rgba(0,0,0,.8), rgba(0, 0, 0, .5)), url("../img/portada.jpg");
    background-size: cover;
    background-position: center center;
    color: #fff;
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 110px;

}
.inicio .contenido-seccion{
    max-width: 100%;
    /* margin: auto; */
    text-align: center;
}

.perfil{
    margin: 0 20px 50px 20px;
}


header{
    padding: 0.1px;

}

header nav{
    display: flex;
    justify-content: right;
    text-align: center;
    position: fixed;
    padding: 10px;
    background-color: #0b4683;
    width: 100%;
    z-index: 1;
}

header nav a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

header nav .redes-nav {
    margin-right: 50px;
}

header nav .redes-nav a{
    margin-left: 20px;
    
}

header .nav a:hover{
    box-shadow: 0 0 35px #fff;
    transition: .3s;
}
.inicio .contenido-seccion .info{
    padding-bottom: 95px;
    
}
.inicio .contenido-seccion .info h1{
    font-size: 3rem;
    letter-spacing: 5px;
}
.inicio .contenido-seccion .info h2{
    padding: 10px;
    font-weight: normal;
    font-size: 20px;
    margin-top: -10px;
    letter-spacing: 2px;
}
.inicio .contenido-seccion .info .redes{
    margin: 10px;
    
}
.inicio .contenido-seccion .info .redes a{
    display: inline-block;
    text-decoration: none;
    background-color: #fff;
    color: #0b4683;
    border: 1px solid #0b4683;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    transition: .3s;
}
.inicio .contenido-seccion .info .redes a:hover{
    color: #fff;
    background-color: #0b4683;
    box-shadow: 0 0 20px #fff;
}
.inicio .contenido-seccion .foto{
    position: relative;
}
.inicio .contenido-seccion .foto img{
    max-width: 200px;
    border-radius: 50%;
    border: 5px solid #0b4683;
    position: absolute;
    left: 50%;
    top: -100px;
    transform: translateX(-50%);
}

.card{
    position: static;
}

.servicios{
    margin-top: 50px;
}

.servicios .titulo-seccion{
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 10px;
    text-align: center;
    background-color: #fff;
    font-weight: bold;
    color: #0b4683;
    letter-spacing: 10px;
    box-shadow: 0px 5px 10px #0b4683;
}

.servicios .titulo-bloque{
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
    background-color: #0b4683;
    margin: 30px 30px 0px 30px;
    padding: 20px;
}

.servicios .titulo-bloque a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border: 1px solid #fff;
    padding: 0 8px;
}

.bloque-servicios{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;

}
.servicios .bloque{    
    margin: 10px 10px;
    box-shadow: 0px 0px 10px #0b4683;
    border-radius: 10px;
    padding: 50px;
    flex-basis: 50%;
}
.servicios .bloque h2{
    text-transform: uppercase;
    /* font-size: 30px; */
    margin-bottom: 20px;
}
.servicios .bloque p{
    color: #666;
    font-size: 20px;
}



.inicio .contenido-seccion header nav a:hover{
    border-radius: 10px;
    box-shadow: 0 0 20px #fff;
    transition: .3s;
}

.foto-perfil {
    border: 5px solid #940253;
}

.formulario-content{

    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.formulario{
    margin: 50px 20px 10px 20px;
    padding: 20px 30PX;
    background-color: #0b4683;
    border-radius: 25px;
    flex-basis: 30%;
}

.formulario h2 {
    color: #f4f6f9;
    margin-bottom: 25px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

label{
    color: #f4f6f9;
    /* margin-bottom: 10px; */
    /* font-size: 20px; */
}

input, textarea{
    padding: 5px 14px;
    background-color: #333646;
    border: 0;
    /* font-size: 18px; */
    color: #f4f6f9;
    margin-bottom: 10px;
    border-radius: 10px;
}

:focus{
    outline: 1px solid #1e92e9;
}

.btn{
    background-color: #1e92e9;
    width: 150px;
    align-self: flex-end;
    cursor: pointer;
}

.btn:hover{
    background-color: #219bf9;
}


.active{
    border-radius: 10px;
    box-shadow: 0 0 20px #fff;
}

contacto{
    margin-top: 50px;
}

@media(max-width:991px){
    form{
        width: 100%;    
    }
    .formulario{
        flex-basis: 100%;
    }
    .servicios .titulo-bloque{
        flex-direction: column;
    }

    .servicios .titulo-bloque a{
        text-align: center;
        padding: 0px 10px;
        border: 0px;
    }
    #borde{
        border-top: 1px solid #fff;
    }
}